h1 {
  text-align: center;
  /* Define o alinhamento do texto como centralizado */
  margin-top: 35px;
  /* Define a margem superior como 35 pixels */
}

p {
  text-align: center;
  /* Define o alinhamento do texto como centralizado */
}

li {
  text-align: left;
  /* Aplica o alinhamento do texto à esquerda para todos os elementos li */
  margin: 25px 0; 
  /* Margens superior e inferior de 10px e margens laterais padrão */
  padding: 5px; 
  /* Margem interna de 5px */
  margin-bottom: 10px; 
  /* Espaçamento entre itens da lista */
  color: #333; 
  /* Cor do texto */
  font-size: 16px;
  /* Aumenta o tamanho da fonte para 16px */
  font-weight: bold; 
  /* Texto em negrito */
}

li::before {
  content: '\2022'; 
  /* Define um círculo como marcador */
  margin-right: 10px; 
  /* Espaçamento entre o marcador e o texto */
}
/* usando o css para página inteira */

header {
  /* AJUSTANDO O PADDING DA PAGINA PARA FICAR APENAS NO TOPO */
  padding: 20px 0 0 0;
  /* SEPARANDO OS ELEMENTOS EM 20 PIXELS */
  gap: 20px;
}

main {
  display: flex;
  /* Define o modelo de layout como flexível */
  flex-direction: column;
  /* Define a direção dos itens como coluna, empilhando verticalmente */
  justify-content: flex-end;
  /* Alinha os itens no final do contêiner principal (flex-end) */
  gap: 40px;
  /* Define o espaçamento vertical entre os itens como 40 pixels */
}

.menu a {
  color: var(--white);
  /* Define a cor do texto como a variável --white (branco) */
}

/* DIV MENU */
.menu {
  /* COR DO FUNDO DA DIV MENU */
  background-color: #f4a261;
  /* COR DA LETRA */
  color: white;
  /* ORGANIZAR AS TAGS FILHAS */
  display: flex;
  /* FLEX:LINHA (ALGUMAS FUNÇÕES SÓ FUNCIONAM COM O DISPLAY FLEX) */
  gap: 20%;
  /* SEPARAÇÃO DOS ÍCONES COM PORCENTAGEM */
  height: 25px;
  /* Define a altura para 25px */
  width: 100%;
  /* Define a largura para 100% */
  align-items: center;
  /* Alinha os itens ao centro */
  justify-content: center;
  /* Justifica os conteúdos ao centro */
  font-family: 'Sen', sans-serif;
  /* CHAMAR A FONTE */
}

/* PÁGINA INSTRUÇÕES */


/* classe dos links da página dos créditos,
para que fique evidente que ao clicar à redireciona */
.links{
  color: #000;
  /* Define a cor do texto como preto (#000) */
  text-decoration: underline;
  /* Adiciona uma linha de sublinhado ao texto (sublinhado) */
}










/* deixando o menu responsivo como "none", pois ele só aparecerá quando a tela for menor e entrar na Media Queries */
#menu-responsivo{
  /* Configura o modelo de layout do elemento 'menu-responsivo' como "none", ou seja, vazio */
  display: none;
}

/* Esta regra @media, aplica estilos CSS apenas quando a largura da tela é de no máximo 970 pixels. */
@media (max-width: 600px){
  
  /* estilizando as tag "li" que são os ícones do menu */
  li {
     /* alinhando os itens da "nav-menu-responsivo" para a esquerda */
    text-align: left;
    /* definindo a "margin", isto é, a distância dos elementos do limite da página, de 0px*/
    margin: 0; 
    /* definindo o "padding", isto é, o prenchimento dos elementos, send de 0px*/
    padding: 0; 
    /* definindo a "margin", isto é, a distância dos elementos do limite da página, sendo da parte de baixo 5px*/
    margin-bottom: 10px; 
     /* Define a cor do texto dentro do elemento 'menu-responsivo' como preto */
    color: black; 
    /* definindo o tamnho da letra, para 16px */
    font-size: 16px;
    /*  redefine explicitamente o peso da fonte para o valor padrão especificado pelo navegador */
    font-weight:initial; 
  }

 /* li::before, é para criar um pseudo "-::before" que foi inserido antes do conteúdo que esta na lista <li>(item da lista) em HTML. */
  li::before {
     /* Uma propriedade "content" é usado para adicionar conteúdo ao elemento selecionado. Nesse caso, o conteúdo está vazio, pois o valor é uma string vazia ''. Isso significa que nenhum conteúdo visível será inserido antes de cada item da lista. ISTO FOI USADO PARA TIRAR OS PONTOS ANTES DOS ÍCONES DA LISTA */
    content: ''; 
    /* definindo a "margin", isto é, a distância dos elementos do limite da página, sendo para o lado direito, de 0px*/
    margin-right: 0; 
  }

   /* estilizando a classe "menu" -> que é quando o px da tela está maior que 970px */
  /* estilizando o id da "nav-menu-responsivo", pois caso ao contrário os elementos ficam aparecendo, e o intuíto, são eles aparecerem apenas ao clicar no botão "menu responsivo" */
  .menu, #nav-menu-responsivo  {
    /* Configura o modelo de layout dos elementos como "none", ou seja, vazio */
    display: none;
  }

  /* estilizando o id "menu-responsivo" */
  #menu-responsivo{
    /* Define a cor de fundo do elemento 'menu-responsivo' como #f4a261 (um tom de laranja) */
    background-color: #f4a261;
    /* Define a cor do texto dentro do elemento 'menu-responsivo' como branco */
    color: white;
    /* Alinha os itens (filhos diretos) horizontalmente no centro do elemento 'menu-responsivo' */
    justify-content: center;
    /* Alinha os itens (filhos diretos) verticalmente no centro do elemento 'menu-responsivo' */
    align-items: center;
     /* Configura o modelo de layout do elemento 'menu-responsivo' como um contêiner flexível */
    display: flex;
    /* Define a largura do elemento 'menu-responsivo' como 100% da largura disponível */
    width: 100%;
    /* Define a fonte utilizada para o texto dentro do elemento 'menu-responsivo' como 'Sen' ou, se não disponível, uma fonte sans-serif genérica */
    font-family: 'Sen', sans-serif;
    /* Define a altura do elemento 'menu-responsivo' como 25 pixels */
    height: 25px;
    /* A propriedade 'overflow: hidden;' esconde qualquer conteúdo que ultrapasse as dimensões do contêiner. 
   Isso significa que qualquer conteúdo que se estenda além da largura ou altura especificada do contêiner será oculto.
   É útil quando se deseja cortar ou ocultar o excesso de conteúdo que não deve ser exibido fora dos limites do contêiner. */
    overflow: hidden;
  }

   /* estilizando o id "botao-menu-responsivo" */
  #botao-menu-responsivo{
    /* deixando o botão sem cor de fundo */
    background: none;
  }

   /* estilizando o id "nav-menu-responsivo.activated", que só é executado quando existe a classe no id da "nav-menu-responsivo", como "activated", onde, pelo javascript, esta classe só existe quando o usuário aperta o botão do "menu-responsivo" */
  #nav-menu-responsivo.activated{
    /* Configura o modelo de layout do elemento 'creditos-autores' como um contêiner flexível */
    display: flex;
    /* ignora todos os elementos que não respeitam o seu limite, isto é, ele fica em cima de qualquer coisa */
    position: absolute;
    /* definindo que os itens irão ficar a 0px para esquerda */
    left: 0;
    /* definindo a distância do top de "124px" */ 
    top: 134px;
    /* definindo o "padding", isto é, o prenchimento do elemento, sendo que, em cima e do lado esquerdo é 0, e do lado direito e em baixo com "100vh", ou seja, os elementos ocupem toda a altura da tela do dispositivo do usuário, garantindo que se ajustem dinamicamente conforme o tamanho da janela do navegador*/
    padding: 0 100vw 100vh 0;
     /* definindo o fundo da "nav-menu-responsivo" */
    background: #f4a261;
    /* alinhando os itens no centro, em relação ao eixo y */
    align-items: center;
  }

  
   /* estilizando o id "nav-menu-responsivo.activated ul", que só é executado quando existe a classe no id da "nav-menu-responsivo", como "activated", onde, pelo javascript, esta classe só existe quando o usuário aperta o botão do "menu-responsivo" */
  #nav-menu-responsivo.activated ul{
     /* alinhando os itens da "nav-menu-responsivo" para a esquerda */
    text-align: left;
  }

  
  /* estilizando o id "nav-menu-responsivo.activated ul li", que só é executado quando existe a classe no id da "nav-menu-responsivo", como "activated", onde, pelo javascript, esta classe só existe quando o usuário aperta o botão do "menu-responsivo" */
  #nav-menu-responsivo.activated ul li{
    /* definindo o "padding", isto é, o prenchimento dos elementos, sendo a parte de baixo, de 5px */
    padding-bottom: 10px;
    /* definindo o "padding", isto é, o prenchimento dos elementos, sendo a parte de cima, de 5px*/
    padding-top: 10px;
    /* definindo a "margin", isto é, a distância dos elementos do limite da página, de 5px*/
    margin-left: 5px;
     /* defininfo a bordar de cada elemnto para fazer o efeito de quando passa o mouse em cima ou quando o elemento é clicado, sendo seu tamanho de 1px, da forma sólida, e da cor preta */
    border-bottom: 1px solid black;
     /* definindo sua largura como 0, porque o intuíto é ela aparecer apenas quando estiver no modo "houver", para ficar mais intrerativo com o usuário */
    width: 0;
    /* definindo que os elemento da "nav-menu-responsivo" vão ficar agrupados para a esquerda, isto é, em um distância de opx da esquerda */
    left: 0;
    /* definindo a transição dos elementos ao serem clicados, ou qwuando passa o mouse em cima, sendo "all" para todos os eleementos, ".3s" o tempo de transição, e o formato da transição sendo "ease", ou seja, simples  */
    transition: all .3s ease;
    }

    /* estilizando o id "nav-menu-responsivo.activated ul li a", que só é executado quando existe a classe no id da "nav-menu-responsivo", como "activated", onde, pelo javascript, esta classe só existe quando o usuário aperta o botão do "menu-responsivo" */
  #nav-menu-responsivo.activated ul li a{
    /* Configura o modelo de layout do elemento 'nav-menu-responsivo.activated ul li a' como um contêiner de blocos */
    display: block;
    /* definindo a largura dos elementos com "100vh", ou seja, os elementos ocupem toda a altura da tela do dispositivo do usuário, garantindo que se ajustem dinamicamente conforme o tamanho da janela do navegador */
    width: 100vw;
    /* o cursor do mouse assumirá a forma de uma mãozinha, colocação */
    cursor: pointer;
  }

  /* estilizando o id "nav-menu-responsivo.activated ul li", que só é executado quando existe a classe no id da "nav-menu-responsivo", como "activated", onde, pelo javascript, esta classe só existe quando o usuário aperta o botão do "menu-responsivo". O modo "houver", só acontece quando o usuário passa o mouse por cima, ou quando clica*/
  #nav-menu-responsivo.activated ul li:hover{
    /* definindo o tamanho da borda dos elemento da "nav-menu-responsivo" como 25% */
    width: 25%;
  }

   /* estilizando o id "body.activated", que só é executado quando existe a classe no id da "body.activated", como "activated", onde, pelo javascript, esta classe só existe quando o usuário aperta o botão do "menu-responsivo" */
  #body.activated{
     /* Isso significa que se o conteúdo de um elemento for maior do que suas dimensões especificadas (largura e altura), em vez de se expandir para fora dos limites, o overflow: hidden;esconderá o conteúdo extra, mantendo-o dentro dos limites do elemento pai */
    overflow: hidden;
  }

   /* estilizando o id "body.activated", que só é executado quando existe a classe no id da "body.activated", como "activated", onde, pelo javascript, esta classe só existe quando o usuário aperta o botão do "menu-responsivo". O modo "houver", só acontece quando o usuário passa o mouse por cima, ou quando clica */
  #botao-menu-responsivo:hover{
     /* o cursor do mouse assumirá a forma de uma mãozinha, colocação */
    cursor: pointer;
    /* definindo a cor que será o botão quando o usuário passar o mouse em cima ou clicar */
    background: #e7e7e7;
  }
}